<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Cars| GlobeAutoLink</title>
  <link rel="stylesheet" href="/admin.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>

<header>
  <div class="nav container">
    <i class='bx bx-menu' id="menu-icon"></i>
    <a href="/" class="logo">
      <div class="logo-container">
        <img src="/img/logo.png" alt="Logo" class="site-logo">
        <span class="logo-text">Globe<span class="auto-link">AutoLink</span></span>
      </div>
    </a>
    <ul class="navbar" id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/less3years">-3 Years</a></li>
      <li><a href="/recentlyadded">Recently Added</a></li>
      <li><a href="/about">About</a></li>
      {{#unless user}}
        <li><a href="/login">Login / Signup</a></li>
      {{else}}
       <li><a href="/favorites">Favorites</a></li>
         <li class="dropdown">
    <a href="#" class="dropbtn" id="profileToggle">Profile <i class="fa fa-caret-down"></i></a>
    <ul class="dropdown-content" id="profileMenu">
      {{#if (eq user.role "admin")}}
        <li><a href="/admin/users">Admin Panel</a></li>
      {{/if}}
      <li><a href="/profil">My Profile</a></li>
      <li>
        <form action="/auth/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </li>
      {{/unless}}
    </ul>
    <div>
    {{!-- <button id="toggleDarkMode" class="lang" data-i18n="dark_mode"> Dark Mode </button> --}}
    <button id="toggleDarkMode" class="lang" aria-label="Toggle dark mode">
      <i class='bx bx-moon'></i>
    </button>
    </div>
  </div>
</header>
<br>
<div class="admin-controls">
  <a href="/admin/users" class="admin-btn">Users</a>
  <a href="/admin/cars" class="admin-btn active">Cars</a>
  <a href="/admin/chats" class="admin-btn">Chats</a>
</div>

<div class="table-container">
  <table class="admin-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Mileage (KM)</th>
        <th>Price (DA)</th>
      </tr>
    </thead>
    <tbody>
      {{#each cars}}
      <tr onclick="window.location.href='/admin/cars/edit/{{id}}'" style="cursor: pointer;">
        <td>{{id}}</td>
        <td>
          {{#if image}}
            <img src="{{image}}" alt="car" width="100" />
          {{else}}
            -
          {{/if}}
        </td>
        <td>{{carBrand}}</td>
        <td>{{carModel}}</td>
        <td>{{year}}</td>
        <td>{{currentMiles}} km</td>
        <td>{{price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</main>
<script src="/main3years.js"></script>
<script src="/darkmode.js"></script>
</body>
</html>
